.home {
    background-color: #f1f2f3;
    margin-top: 70px;
}

.ComponentContainer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1070px) {
    .ComponentContainer {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }
}