.header {
    position: absolute;
    z-index: 999;
}

.main-nav {
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: solid 3px #ef8236;
    box-shadow: 0px 1px 5px #00000033;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    padding: 5px 25px;
}

.nav-item {
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69, 69, 69);
    transition: 0.25s;
}

.nav-item:hover {
    background-color: rgb(226, 226, 226);
}

.nav-btn {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
}

.navbar form {
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}

.navbar form input {
    min-width: 90%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: solid 1px #0000003e;
    border-radius: 3px;
}

.navbar form .search-icon {
    position: absolute;
    left: 25px;
    top: 8px;
}

.nav-links {
    padding: 7px 30px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}

.nav-links:hover {
    background-color: #d3e4eb;
}

.Avatar {
    text-decoration: none;
}


.sidebar {
    z-index: 999;
    max-height: 100vh;
}

.left-sidebar {
    transform: translateZ(0);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s transform ease-in-out 0.1s;
    box-sizing: border-box;
    font-size: 13px;
    float: left;
    width: 240px;
    background-color: #f8f9f9;

}

.side-nav {
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 40px 0px;
    /* background-color: #f8f9f9; */
    /* max-height: 100vh; */
}

.side-nav-div {
    padding: 10px 0px;
}

.side-nav-div p {
    padding: 10px 10px;
}

.side-nav-links {
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.25s;
}

.side-nav-links:hover {
    color: black;
}

.active {
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #ef8236;
}


@media only screen and (max-width: 896px) {
    .nav-btn {
        padding: 5px 10px;
    }

    .nav-btn {
        display: none;
    }

    .navbar Link :nth-child(3) {
        display: none;
    }

    .navbar Link :nth-child(4) {
        display: none;
    }

    .navbar Link :nth-child(5) {
        display: none;
    }
}

@media only screen and (max-width: 630px) {
    .nav-item {
        margin: 0px 3px;
        font-size: small;
        font-weight: 500;
    }

    .nav-logo {
        padding: 3px 8px;
    }
}

@media only screen and (max-width: 581px) {
    .nav-logo {
        display: none;
    }
}