@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control {
    @apply !w-full py-6 !text-base;
}

.opt-container {
    @apply flex justify-between gap-1;
    margin-right: 0;
}

.opt-container input {
    width: 32px;
        height: 32px;
        text-align: center;
        /* margin-right: 20px; */
}


.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.chat-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.otp{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    border: 1px solid #0000003e;
    border-radius: 2px;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(0 0 0 /5%),
        -3px -3px 10px rgb(0 0 0 / 5%);
}

.form-1 label{
    margin-bottom: 5px;
    padding: 5px;
}

.form-1 input{
    width: 100%;
    padding: 5px;
}

.form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-container-2{
    background-color: #f1f2f3;
}

.verify-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.verify-number label {
    margin: 5px;
}

.btn {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #009dff;
    color: white;
    border: none;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px;
    width: 60%;
}

.telephone-icon{
    color: #009dff;
}

.btn:hover {
    background-color: #0086d8;
}

.animate-spin{
    float: left;
}

.otp-btn {
    margin-right: 25px;
}